@font-face {
  font-family: "Bricolage_Grotesque";
  src: url("./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "DM_Sans";
  src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}
@import "tailwindcss";
@layer base {
/*   * {
  outline: 1px solid red;
} */
}
